<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
  <test verbose="2" preserve-order="true" name="G:/automation_tranning_vmo/tien-vmo-demowebshop">
    <classes>
      <class name="com.automation.fresher.demowebshop.feature.Card.BooksProduct">
        <methods>
          <include name="TC_02_Verify_Add_Books_To_Card"/>
        </methods>
      </class>
<!--      <class name="Card.com.automation.fresher.demoWebShop.feature.RemoveProductFromCart">-->
<!--        <methods>-->
<!--          <include name="TC_02_Verify_Login_To_Demo_Web_Shop"/>-->
<!--        </methods>-->
<!--      </class>-->
<!--      <class name="Login.com.automation.fresher.demoWebShop.feature.LoginDemoWebShop">-->
<!--        <methods>-->
<!--          <include name="TC_01_Verify_Login_To_Demo_Web_Shop"/>-->
<!--        </methods>-->
<!--      </class>-->
    </classes>
  </test>
</suite>