<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
  <test verbose="2" preserve-order="true" name="G:/automation_tranning_vmo/tien-vmo-demowebshop">
    <classes>
      <class name="com.automation.fresher.demowebshop.feature.Login.LoginDemoWebShop"/>
      <class name="com.automation.fresher.demowebshop.feature.Card.BooksProduct"/>
      <class name="com.automation.fresher.demowebshop.feature.Card.RemoveProductFromCart"/>
      <class name="com.automation.fresher.demowebshop.feature.Card.BuyItemSuccessfully"/>
    </classes>
  </test>
</suite>